
/* Navbar */

.menu_container {
    background: inherit;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.menu{
    display: flex;
    gap: 20px;
    align-items: center ;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
}

.pc_builder_btn{
    background: rgb(59,43,169);
    background: linear-gradient(90deg, rgba(59,43,169,1) 0%, rgba(178,111,204,1) 100%);
    font: bolder;
    border: none;
}

.pc_builder_btn:hover{
    transform: scale(1.09);
}

.nav_btn{
    background-color: #3b2ba9 ;
}

.nav_btn:hover{
    background: #b26fcc!;
    transform: scale(1.09);
}