
.main{
    font-family: 'Oswald', sans-serif;
    height: 100%;
    padding: 20px ;
    padding-bottom: 50px;
    display: flex;
    width: 100%;
    flex-direction: column;
}

.main h1 {
    padding: 20px 0;
}

.grid_card{
    font-family: 'Oswald', sans-serif;
    display: flex;
    width: 100%;
}



.grid_card p{
    font-size: 16px;
}

.grid_card span {
    font-weight: 500;
    font-size: 16px;
}

.card_item {
    width: 33.33%;
}

.add_button_container{
     width: 33.33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px
}

.add_button_container p{
   font-size: 20px;
}

.add_button{
    background: rgb(59,43,169);
    background: linear-gradient(90deg, rgba(59,43,169,1) 0%, rgba(178,111,204,1) 100%);
    font-family: 'Oswald', sans-serif;
    border: none;
    font-weight: 600;
}

.add_button:hover{
    transform: scale(1.09);
}



/* Responsive */

@media only screen and (max-width: 768px) {
    .grid_card{
        flex-direction: column;
    }

    .card_item {
        width: 100%;
    }
    
    .add_button_container{
         width: 100%;
         justify-content: start;
    }
  }